html, body {
  margin: 0;
  padding: 0;
}

body {
  
  font-family: "Century Gothic";
  line-height: 1.5;
  padding: 30px 20px;
  text-align:
    background-color: rgb(240, 240, 240)" margin: 0 auto; max-width:50em";
}

h1 {
  padding: 20px 0px 10px 0px;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: ;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
}
h3 {

  text-align: center;
}
p {
  font-family: "";
  text-align: center;
}

canvas {
  display: block;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
