body {
  background-image: url("../assets/ducks.gif");
  text-align: center;
  
}

p {
  font-size: 16px;
  color: powderblue;
}

h1 {
  color: purple;
}

.white-box {
  background-color: white;
  width: 500px;
  padding: 50px;
  border: 5px solid black;
}
